{% extends "base.html" %}

{% block content %}
<h2>Menu</h2>

<div class="grid">
{% for it in items %}
  <div class="card">

      {% if it.image %}
        <img src="{{ url_for('static', filename='uploads/' + it.image) }}" 
             style="width:100%; height:150px; object-fit:cover;">
      {% else %}
        <img src="{{ url_for('static', filename='uploads/default.png') }}" 
             style="width:100%; height:150px;">
      {% endif %}

      <h3>{{ it.name }}</h3>
      <div class="price">₹{{ it.price }}</div>

      <form method="POST" action="{{ url_for('main.add_to_cart') }}">
          <input type="hidden" name="item_id" value="{{ it.id }}">
          <button class="btn">Add</button>
      </form>
  </div>
{% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}
